In [1]:
## db 와 테이블 만들기

from database import config
import mysql.connector


db = mysql.connector.connect(**config)
cursor = db.cursor()

In [2]:
cursor.execute(
    """
    create database if not exists news_gpt default character set 'utf8';
    """
)

In [10]:
cursor.execute("""
drop table news_gpt.news_old
""")

In [2]:
cursor.execute(
    """
    create table if not exists news_gpt.news_recent(
    gid varchar(12),
    createtime timestamp,
    unique_tit varchar(100),
    title varchar(100),
    ctx mediumblob,
    url varchar(100),
    thumburl varchar(100),
    source varchar(10),
    cate_code varchar(3),
    vec mediumblob,
    primary key (gid, unique_tit)
    );
    """
)

In [8]:
# cursor.execute(
#     """
#     create table if not exists news_gpt.news_recent(
#     gid varchar(12),
#     createtime timestamp,
#     unique_tit varchar(100),
#     title varchar(100),
#     ctx mediumblob,
#     url varchar(100),
#     thumburl varchar(100),
#     source varchar(10),
#     cate_code varchar(3),
#     vec mediumblob,
#     all0 mediumblob,
#     primary key (gid, unique_tit)
#     );
#     """
# )abort

In [19]:
# cursor.execute(
#     """
#     create table if not exists news_gpt.news_recent(
#     gid varchar(12),
#     createtime timestamp,
#     unique_tit varchar(100),
#     title varchar(100),
#     ctx mediumblob,
#     url varchar(100),
#     thumburl varchar(100),
#     source varchar(10),
#     cate_code varchar(3),
#     vec mediumblob,
#     all0 json,
#     primary key (gid, unique_tit)
#     );
#     """
# )   abort

In [ ]:
cursor.execute(
    """
    create table if not exists news_gpt.news_old(
    gid varchar(12),
    createtime timestamp,
    unique_tit varchar(100),
    title varchar(100),
    ctx mediumblob,
    url varchar(100),
    thumburl varchar(100),
    source varchar(10),
    cate_code varchar(3),
    vec mediumblob,
    primary key (gid, unique_tit)
    );
    """
)